<!-- <fieldset class="layui-elem-field layui-field-title">
  <legend id="control-panel-legend">Control Panel</legend>
</fieldset> -->
<div style='height:10px'></div>
<div class="w2ui-field w2ui-span3 input-samll">
    <label class="front-label"><div> <span class="iconfont icon-yuandian"></span> </div></label>
    <div> <input type="list1"> <span class="legend"></span> </div>
</div>
<div class="w2ui-field w2ui-span3 input-samll">
    <label class="front-label"><div> <span class="iconfont icon-arrow-up-outline"></span> </div></label>
    <div> <input type="list2"> <span class="legend"></span> </div>
</div>
<div id="overview-focus">
</div>
<!-- <script src="./controls/control-panel.js"></script> -->
