<div class="preview-panel">
    <fieldset class="layui-elem-field layui-field-title">
        <legend id="solutions-panel-legend">
            <ol class="layui-breadcrumb">
                <li><a href="#">Solutions</a></li>
                <li><a href="#">Statistics</a></li>
            </ol>
        </legend>
    </fieldset>
    <button id="compare-button" style="display: flex;" class="layui-btn layui-btn-primary layui-btn-sm layui-btn-disabled">Compare</button>
    <button id="return-thumbnail" style="display: none;" class="layui-btn layui-btn-primary layui-btn-sm">Thumbnails</button>
</div>
<div id="solutions-thumbnail" style="display: flex;">
</div>
<div id="solutions-comparison" style="display: none;">
</div>
