<div class="control-button">
    <div class="layui-col-md2" style="height: 10px"></div>
    <button id="export-button" class="layui-btn layui-btn-primary layui-btn-sm layui-col-md3">Export</button>
    <div class="layui-col-md2" style="height: 10px"></div>
    <button id="submit-button" style="display: block;" class="layui-btn layui-btn-primary layui-btn-sm layui-col-md3">Submit</button>
    <button id="save-button" style="display: none;" class="layui-btn layui-btn-primary layui-btn-sm layui-col-md3">Save</button>
    <div class="layui-col-md2" style="height: 10px"></div>
</div>
