<fieldset class="layui-elem-field layui-field-title" id="kcd-controller">
    <legend>
        <div class="layui-tab" lay-filter="kcd-filter">
            <ol class="layui-tab-custitle layui-breadcrumb">
                <li lay-id="111"><a href="#">keywords</a></li>
                <li><a href="#">contacts</a></li>
                <li><a href="#">details</a></li>
            </ol>
        </div>
    </legend>
</fieldset>
<div id="contacts-table-id" style="width:100%">
    <table id="contacts-grid" lay-filter="test" style="width: 100%;"></table>
</div>
<div id="keywords-cloud" style="width: 200%; height: 220px;"></div>
<div id="details-grid">
    <table class="layui-table" lay-size="sm" lay-skin="row">
        <colgroup>
            <col width="3%">
            <col width="70%">
            <col width="27%">
        </colgroup>
        <thead>
            <tr>
                <th id="solution-short-name">S1</th>
                <th>TimeSeries</th>
                <th>Fitness</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<!-- <div id="details-grid" style="width: 100%; height: 250px; overflow: hidden;"></div> -->
