<fieldset class="layui-elem-field">
    <legend>
        <ol class="layui-breadcrumb">
            <li><a href="#">Overview</a></li>
            <li><a href="#">Focus</a></li>
        </ol>
    </legend>
    <div style="height:10px;"></div>
    <div class="w2ui-field w2ui-span3">
        <label class="front-label polygon-label" style="margin-left: 15px;">
            <div class="layui-badge-rim polygon-border">
                <div class="iconfont icon-polygon"></div>
            </div>
        </label>
        <div> <input type="list3"> <span class="legend"></span> </div>
    </div>
    <div id="time-period">
    </div>
    <div id="themes-keywords">
    </div>
    <div id="keywords-contacts-details">
    </div>
</fieldset>
<div id="control-buttons">
</div>
