.w2ui-field input {
    width: 80%;
}

.w2ui-field > div > span {
    margin-left: 0px;
}

.w2ui-field.w2ui-span3.input-samll input {
    padding: 3px;
}

.w2ui-select {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAALCAQAAACnzwd+AAAAcklEQ…2OOOOj3Yi43kMKs9sZknofOexqZ8npMygwWZTX51CipP+YA1OiZJbYYg9lAAAAAElFTkSuQmCC),-webkit-linear-gradient(top,#fff 20%,#fff 50%,#fff 52%,#fff 100%);
}

.front-label {
    width: 30px !important;
    height: auto;
}

.polygon-label {
    margin-top: 3px !important;
}

.w2ui-field.w2ui-span3 > div {
    margin-left: 38px;
}

#control-panel-legend {
    font-size: 17px;
}

.polygon-border {
    height: auto;
    padding: 3px 6px;
}

#overview-focus {
    text-align: center;
    margin-top: 10px;
}

.time-input {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
}

.time-input input {
    width: 22%;
    height: 24px;
}

.time-input span {
    color: #aaa;
}

#kcd-controller {
    margin: 0;
}

.layui-breadcrumb > li {
    display: inline-block;
}

.layui-field-title {
    margin-bottom: 10px;
}

.time-period-slider {
    width: 90%;
    margin: 10px 0 10px 10px;
}

#control-buttons {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.control-buttons {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.control-buttons>div, .control-buttons>button {
    clear: both;
    width: 26%;
    text-align: center;
}

.control-buttons div {
    width: 16%;
}
